<form id="editProductForm" class="editable-form" method="POST" action="{{ url_for('products') }}" style="display: none;">
    <input type="hidden" name="form_type" value="edit">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Product Number</th>
                                <td><input type="text" class="form-control" id="edit-product_number" name="product_number" readonly></td>
                            </tr>
                            <tr>
                                <th>Product</th>
                                <td><input type="text" class="form-control" id="edit-product" name="product"></td>
                            </tr>
                            <tr>
                                <th>Edition</th>
                                <td><input type="text" class="form-control" id="edit-edition" name="edition"></td>
                            </tr>
                            <tr>
                                <th>ISBN</th>
                                <td><input type="text" class="form-control" id="edit-isbn" name="isbn"></td>
                            </tr>
                            <tr>
                                <th>Date Published</th>
                                <td><input type="text" class="form-control" id="edit-date_published" name="date_published"></td>
                            </tr>
                            <tr>
                                <th>Publisher</th>
                                <td><input type="text" class="form-control" id="edit-publisher" name="publisher"></td>
                            </tr>
                            <tr>
                                <th>Author</th>
                                <td><input type="text" class="form-control" id="edit-author" name="author"></td>
                            </tr>
                            <tr>
                                <th>Date Created</th>
                                <td><input type="date" class="form-control" id="edit-date_created" name="date_created"></td>
                            </tr>
                            <tr>
                                <th>Frequency</th>
                                <td>
                                    <select class="form-control" id="edit-frequency" name="frequency">
                                        <option value="Monthly">Monthly</option>
                                        <option value="Occasional">Occasional</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mt-3">
                        <button type="button" id="cancelEdit" class="btn btn-secondary mr-2">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
